name: Android CI

on: 
  watch:
    types: [started]
  schedule:
    - cron: '0 3 * * *'

jobs:
  schedule:
    if: github.event_name == 'schedule'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: install git
      run: |
        sudo apt-get update
        sudo apt-get -y install git

    - name: check latest tag
      shell: bash
      run: source $GITHUB_WORKSPACE/action_schedule.sh

  build:
    if: github.event_name != 'schedule'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8

    - name: install git
      run: |
        sudo apt-get update
        sudo apt-get -y install git

    - name: set env
      shell: bash
      run: source $GITHUB_WORKSPACE/action_setenv.sh
      
    - name: clone code
      shell: bash
      run: source $GITHUB_WORKSPACE/action_clone.sh

    - name: custom your app
      shell: bash
      run: source $GITHUB_WORKSPACE/action_app_custom.sh

    - name: build with gradle
      run: |
        cd ${{ env.APP_WORKSPACE }}
        chmod +x gradlew
        ./gradlew aR
        
    - name : upload apk
      uses: actions/upload-artifact@master
      if: always()
      with:
        name: ${{ env.APP_UPLOAD_NAME }}
        path: ${{ env.APP_UPLOAD }}
